<app-perfil></app-perfil>
<br><br><br>
<section id="vantage" class="description main-section">
    <div class="container">
      <header>
        <h2>Lista de Alumnos</h2>
        <p class="sub-header">Aquí puedes encontrar la lista de alumnos que pertenecen a esta clase.</p>
        <br><br>
      </header>
      <h1 *ngIf=isLoading>Cargando...</h1>   
        <table *ngIf="!isLoading" class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th *ngFor = "let column of headers">
                  {{ column }}
               </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let student of students">
                <td>{{ student.lastName }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.document_number }}</td>
                <td>{{ student.birthDate }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.address }}</td>                                      
            </tr>
            </tbody>
          </table>
    </div>
</section>
<br><br><br><br><br>
<app-footer></app-footer>