<app-perfil></app-perfil>

<div id="cursos">

    <main class="contenedor">
        <div class="course-card" id="redondo" (click)="ir('lista')">
            <img src="assets/lista.png" style="height: 80%;" class="card-img-top"
                alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Lista de alumnos</h2>
            </div>
        </div>

        <div class="course-card" id="redondo" (click)="ir('asistencia')">
            <img src="assets/asistencia.png" style="height: 80%;" class="card-img-top"
                alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Gestión de alumnos</h2>
            </div>
        </div>

        <!-- <a href="lista">
        <div class="course-card" id="redondo">
            <img src ="assets/alumnos.png" style="height: 300px;" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <a><h2 class="card-title">Alumnos</h2></a>
            </div> 
        </div>
        </a>
        <a href="asistencia">
        <div class="course-card" id="redondo">
            <img src ="assets/folder.png" style="height: 300px;" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <a><h2 class="card-title">Asistencia</h2></a>
            </div> 
        </div>
        </a>
        <a href="reporte">
        <div class="course-card" id="redondo">
            <img src ="assets/notas.png" style="height: 300px;" class="card-img-top" alt="Card image cap">
            <div class="card-body">
                <a><h2 class="card-title">Reportes</h2></a>
            </div> 
        </div>
        </a> -->
    </main>
</div>
<app-footer></app-footer>