<app-logo-perfil></app-logo-perfil>
<section class="pagina-principal">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Contenido" aria-label="Search"
                      aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">Buscar</button>
                </div>

                <h3>Presentación</h3>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="#tema1">Tema 01</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tema2">Tema 02</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tema3">Tema 03</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tema4">Tema 04</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tema5">Tema 05</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tema6">Tema 06</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9"  id="padding"> 
                <h3>Presentación</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore quos error at perferendis dolorem, natus, eius est ipsa nulla inventore iusto consequuntur 
                    explicabo laborum aliquam necessitatibus ut dolorum voluptas ratione.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore quos error at perferendis 
                    dolorem, natus, eius est ipsa nulla inventore iusto consequuntur explicabo laborum aliquam necessitatibus ut dolorum voluptas ratione. dolor sit amet consectetur 
                    adipisicing elit. Labore quos error at perferendis dolorem, natus, eius est ipsa nulla inventore iusto consequuntur 
                    explicabo laborum aliquam necessitatibus ut dolorum voluptas ratione.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore quos error at perferendis 
                    dolorem, natus, eius est ipsa nulla inventore iusto consequuntur explicabo laborum aliquam necessitatibus ut dolorum voluptas ratione.</p>
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/3WEWhXiVg50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="row" style="padding-top: 30px;">
                    <a href="" class="col-md-4" id="caja" style="background-color: #c9ae2a;">
                        <div>
                            <h5>CARPETA</h5>
                            <p>Lecturas del curso</p>
                            <p class="icono"><i class="fas fa-book-open"></i></p>
                        </div>
                    </a>
                    <a href="" class="col-md-4" id="caja" style="background-color: #F2762E;">
                        <div>
                            <h5>SILABUS</h5>
                            <p>SILABO</p>
                            <p class="icono"><i class="fas fa-scroll"></i></p>
                        </div>
                    </a>
                    <a href="" class="col-md-4" id="caja" style="background-color: #F2762E;">
                        <div>
                            <h5>CARPETA</h5>
                            <p>Cronograma de lecturas</p>
                            <p class="icono"><i class="fas fa-book-open"></i></p>
                        </div>
                    </a>
                </div>    
                
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>