<app-header></app-header>
<section class="bar" id="hero">
    <div class="container">
      <div>
        <h1>Es hora de que toda<br>tu clase logre<br> aprender</h1>
        <br>
        <button type="button" class="btn btn-outline-light"><fa-icon [icon]="faPlay"></fa-icon>Ver el video</button>
      </div>
    </div>  
  </section>

  <section id="region-main">
    <img class="graph-1" src="https://www.historiasparaarmar.org/assets/img/graph-9.svg">
    <div>
        <header>
            <br><br><br>
            <h2 style="color: purple; margin-bottom: 50px;">Bienvenidos al <br> CAMPUS VIRTUAL</h2>
        </header>
    </div>
    <div style="text-align: center;">
        <a href="inicio"><button class="btn-section1 btn-outline-light">IR A AULA VIRTUAL</button></a>
        <img class="graph-2" src="https://www.historiasparaarmar.org/assets/img/graph-5.svg">   
    </div>
  </section>
  <br><br><br>

<app-footer></app-footer>
