<app-perfil></app-perfil>

<section id="vantage" class="description main-section">
    <div class="container">
        <header>
            <br><br><br>
            <h2>Asistencia</h2>
            <p class="sub-header">¡Es hora de tomar asistencia!</p>
            </header>
        <br>
        <div class="row">
            <div class="col-md-3">
                <ol class="chapters list-large">
                    <h4>Sesiones</h4>
                    <hr>
                    <li *ngFor = "let session of lessons; index as i" style="list-style-type: none" (click)="selectSession(session)">
                        <a class="chapter-title" style="color:black">Sesión {{i + 1}}: </a> 
                        <p class="sub-header">{{session.date}}</p>
                    </li>
                   <!--  <li style="list-style-type: none">
                        <a class="chapter-title" style="color:black">Sesión 01</a>
                    </li>
                    <li style="list-style-type: none;">
                        <a class="chapter-title" style="color:black">Sesión 02</a>
                    </li>
                    <li style="list-style-type: none;">
                        <a class="chapter-title" style="color:black">Sesión 03</a>
                    </li>    -->    
                </ol>
            </div>
            <div class="col-md-9">
                <br>                   
                <app-asistencia-alumnos *ngIf="!isLoading && selectedSession"
                 [students]="students" [session]="selectedSession"
                 (markAttentanceEmitter)="markAttentance($event)"></app-asistencia-alumnos>
                 <br>
                 <h1 class="offset-md-9" *ngIf=showMessage>{{message}}</h1>
            </div>
            
        </div>
    </div>
</section>
<br><br><br>
<app-footer></app-footer>
