<header>
    <div id="snap-header" style="margin-left: 30px;">
        <a id="snap-home" class="logo" href="">     
        </a>
        <div class="pull-right js-only row" style="margin-right: 40px;">
            <div id="snap-perfil">
                <!-- <img src="/assets/profile.png" width="100" height="100"  class="userpicture"> -->
                <a style="padding-right:10px; color:#ff8028">Mis cursos</a>
                <span>
                    <a>
                        <form role="search" method="get" id="searchform" action="">
                            <label for="s">
                              <fa-icon [icon]="faSearch"></fa-icon>
                            </label>
                            <input type="text" value="" placeholder="Buscar" class="" id="s" />
                          </form>
                    </a>
                </span>
            </div>
            
        </div>
       
    </div> 
</header>

<nav id="navbar2" class="navbar navbar-expand-sm" style="background-color:#ff8028">
    <ul class="navbar-nav ml-auto" style="margin-left: 40px;">
        <li class="nav-item">
            <a style="color: white" class="nav-link" href=""><b>RECURSOS</b></a>
        </li>
        <li class="nav-item">
            <a style="color: white" class="nav-link" href=""><b>AYUDA</b></a>
        </li>
    </ul>
</nav>













