<section id="vantage" class="description main-section">
    <div class="container">
        <h2 *ngIf = "session.id">Sesión: {{session.date}}</h2>
        
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>                    
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Asistió</th>
                    <th>No asistió</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let student of students">
                                      
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.firstName }}</td>                                                        
                    <td>      
                        <mat-radio-button value="1" [name]="student.lastName">Asistió</mat-radio-button>                
                    </td>                        
                    <td>
                        <mat-radio-button value="2" [name]="student.lastName">No asistió</mat-radio-button>
                    </td>
                
                </tr>
            
            </tbody>
        </table>  
    
    </div>
</section>


  
  

