<app-perfil></app-perfil>
<section id="vantage" class="description main-section">
    <div class="container">
        <header>
        <br><br><br>
        <h2>Mantenimiento de Salones</h2>
        <p class="sub-header">Aquí se puede listar, registrar, editar y eliminar salones.</p>
        </header>
        <br><br>               
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="agregarModal()">Agregar</button>
          <mat-button-toggle-group style="float: right;" #group="matButtonToggleGroup" [(ngModel)]="selectedButton" (change)="onValChange(group.value)" >
            <mat-button-toggle [value]="true">Activos</mat-button-toggle>
            <mat-button-toggle [value]="false">Inactivos</mat-button-toggle>
          </mat-button-toggle-group>
      </div>        
      <br> 
        <h1 *ngIf=isLoading>Cargando...</h1>   
        <table *ngIf="!isLoading" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                  <th *ngFor = "let column of headers">
                    {{ column }}
                  </th>
                  <th>
                    <div *ngIf="selectedButton===true; then deactivate else activate">
                    </div>        
                    <ng-template #deactivate>Desactivar</ng-template>        
                    <ng-template #activate>Activar</ng-template>
                  </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let classroom of classrooms">
                        <td>{{ classroom.id }}</td>
                        <td>{{ classroom.dayOfWeek }}</td>
                        <td>{{ classroom.course.name }}</td>
                        <td>{{ classroom.teacher.firstName}} {{ classroom.teacher.lastName }}</td>
                        <td>{{ classroom.horaI }}</td>
                        <td>{{ classroom.horaF }}</td>
                        <td><fa-icon [icon]="faPen" (click)="editarModal(classroom)"></fa-icon></td>
                        <div *ngIf="selectedButton === true; then eliminar else restaurar">
                        </div>        
                        <ng-template #eliminar>
                          <td><fa-icon [icon]="faTimes" (click)="deleteClassroom(classroom)"></fa-icon></td>
                        </ng-template>        
                        <ng-template #restaurar>
                          <td><fa-icon [icon]="faTrashRestore" (click)="restore(classroom)"></fa-icon></td>
                        </ng-template>                        
                    </tr>
                </tbody>
        </table>     
        <br><br><br>
    </div>
</section>



  <!-- Modal -->
  <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          
        <div *ngIf="modal === allModalTypes.edit; then editar else agregar">
        </div>        
        <ng-template #editar>
          <h5 class="modal-title">Editar Salon</h5>
        </ng-template>        
        <ng-template #agregar>
          <h5 class="modal-title">Agregar nuevo salon</h5>
        </ng-template>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
          <br>                    
        </div>
        <p *ngIf="isError" class="text-danger" style="text-align: center;"><strong>Error: Ingreso Inválido.</strong></p>
        <form ngNativeValidate (ngSubmit)=submit()>
          <div class="modal-body">          
            <h3>Curso</h3>            
            <div class="form-group">
              <span>Dia de Semana</span>
              <br>
              <select matNativeControl required [(ngModel)]="newClassroom.dayOfWeek" name="dayOfWeek">
                <option *ngFor="let day of daysOfWeek" [value]="day">{{ day }}</option>
              </select>
            </div>       
            <div class="form-group">
              <span>Curso</span>
              <br>
              <select matNativeControl required [(ngModel)]="selectedCourse" name="course">
                <option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</option>
              </select>
            </div>  
            <div class="form-group">
              <span>Profesor</span>
              <br>
              <select matNativeControl required [(ngModel)]="selectedTeacher" name="teacher">
                <option *ngFor="let teacher of teachers" [value]="teacher.idTeacher">{{ teacher.firstName }} {{ teacher.lastName }}</option>
              </select>
            </div> 
            <div class="form-group">
              <span>Hora Inicio</span>
              <br>
              <select matNativeControl required [(ngModel)]="newClassroom.horaI" name="horaI">
                <option *ngFor="let hourI of scheduleInicio" [value]="hourI">{{ hourI }}</option>
              </select>
            </div>   
            <div class="form-group">
              <span>Hora Fin</span>
              <br>
              <select matNativeControl required  [(ngModel)]="newClassroom.horaF" name="horaF">
                <option *ngFor="let hourF of schedulFin" [value]="hourF" >{{ hourF }}</option>
              </select>
            </div>    
                 
        </div>
          <div class="modal-footer">
            <div *ngIf="modal === allModalTypes.edit; then editClassroom else createClassroom">
            </div>        
            <ng-template #editClassroom>
              <button type="submit" class="btn btn-primary" >Editar</button>
            </ng-template>        
            <ng-template #createClassroom>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </ng-template>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>            
          </div>
      </form>
      </div>
    </div>
  </div>
<app-footer></app-footer>