
#navbar1{
    background-color: #5115a0;
    padding:2em;
}

.userpicture{
    box-shadow: 0 0 5em #141414;
    float: left;
    width: 3em;
    margin-right: 2%;
}

img.userpicture{
    margin-right: .5em;
}

.userpicture{
    border-radius: 50%;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

a{
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.h1{
    font-size: 3em;
}

.h1:hover{
    color: orange;
    border-bottom: orange 3px solid; 
    transition: all .35s ease;
}

#cancel{
    font-size: 1.8em;
    line-height: 1;
    text-decoration: none;
    display: block;
    text-align: center;
}

#cancel{
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    font-weight: lighter;
}

li{
    text-decoration-color: #fff;;
}

.p{
    display:inline;
    margin-right: 20px;
    font-size: 16px;
    color: #fff;
}

.p:hover{
    color: orange
}

hr{
    margin: 0;
}


.graph-1{
    width: 800px;
    height: 450px;
    max-width: 100%;
    position:absolute;
    left: 40%;
    top: 0;
    z-index: 0;
}

.referencia{
    z-index: 1;
}

