<nav id ="navbar1" class="navbar justify-content-between">
    <div id="pm-nav">
        <a class="h1" aria-level="1" id="snap-pm-user-profile" href="#">
            <!-- <img src="/assets/profile.png" width="100" height="100" class="userpicture" alt=""> -->
            {{ teacher.firstName }}
            <div id="menu">
                <a class="p">Perfil</a>
                <a class="p" href="inicio">Salir</a>
            </div>           
        </a>
        
    </div>
    <div class="pull-right">
        <a href="#">
            <img id="cancel" src="/assets/cancel.png" width="50" height="50" alt="">
        </a>
    </div>
</nav>
