<header id="main-header">

  <a href="#" class="logo"><img src="assets/logo.jpg" height="80px"></a> 
  <ul>
    <li><a href="#"> <img src="assets/explorar.jpg" class="center" height="40px"></a></li>
    <li><a href="#"> <img src="assets/contar.jpg" class="center" height="40px"></a></li>
  </ul>
  <img src="https://www.historiasparaarmar.org/assets/img/graph-2.svg" class="graph-2" widht="110px">
  <img src="https://www.historiasparaarmar.org/assets/img/graph-6.svg" class="graph-3" widht="110px">

 </header>