<app-perfil></app-perfil>
<br>


<img class="wave" src="assets/acurela.png">
	<div class="container">
		<div class="img">
			<img src="assets/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
        <br><br>
				<h2 class="title">Perfil</h2>
           		<div class="input-div one">
           		   <div class="i">
                     <fa-icon [icon]="faUser"></fa-icon>
           		   </div>
           		   <div class="div">
                        <a>Nombre</a>
           		   		<input type="text" class="Name" disabled>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
                    <fa-icon [icon]="faUser"></fa-icon>
           		   </div>
           		   <div class="div">
                        <a>Apellido</a>
                    <input type="text" class="input" disabled>
            	   </div>
            	</div>
                <div class="input-div pass">
                    <div class="i"> 
                        <fa-icon [icon]="faIdCard"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Documento de identidad</a>
                    <input type="text" class="input" disabled>
                    </div>
                 </div>
                 <div class="input-div pass">
                    <div class="i"> 
                        <fa-icon [icon]="faBirthdayCake"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Fecha de nacimiento</a>
                    <input type="text" class="input" disabled>
                     </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                        <fa-icon [icon]="faPhone"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Teléfono</a>
                    <input type="text" class="input" disabled>
                     </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Correo</a>
                    <input type="text" class="input" disabled>
                     </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                        <fa-icon [icon]="faLocationArrow"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Dirección</a>
                    <input type="text" class="input" disabled>
                     </div>
                </div>
                <div class="input-div pass">
                    <div class="i"> 
                        <fa-icon [icon]="faFire"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Estado</a>
                    <input type="text" class="input" disabled>
                     </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <fa-icon [icon]="faBuilding"></fa-icon>
                    </div>
                    <div class="div">
                      <a>Rol</a>
                    <input type="text" class="input" disabled>
                     </div>
                </div>
                <br>
            </form>
        </div>
    </div>

<br><br><br><br>

<app-footer></app-footer>