<footer id="main-footer">

  <div class="sup-top-foot">
    <div class="container2">
      <div class="row2">
        <h2 style="letter-spacing: 1px;
        ">Suscríbete para recibir novedades sobre Yachaywasi.</h2>
        <form class="suscribe-form flex ng-untouched ng-pristine ng-valid">
          <input type="email" placeholder="Ingresa tu e-mail" formcontrolname="email" class="field ng-untouched ng-pristine ng-valid">
          <button type="submit" class="btn btn-primary btn-suscribe">
            <span>SUSCRIBIRME AHORA</span>
            <img src="https://www.historiasparaarmar.org/assets/img/icon-chevron-right.svg" class="chevron">
          </button>
        </form>
      <div _ngcontent-kio-c91="" class="validator"><!----><!----><!----></div>
    </div>
  </div>
</div>


  <div id="primero">
      <div class="container">
        <div class="row brand-footer-group">
          <div style="text-align: left; padding-left: 170px;" class="col-6 col-sm-4 col-md-10 col-lg-10 brand-1">
            <p><b>Soporte Aula Virtual</b>
              <br>aula.virtual@yawaywasi.pe<br><br>
              <b>Soporte correo electrónico</b>
              <br>soporte.yachay@yachaywasi.pe
            </p>
            <a href="#">
              <img style="height: 60px;" src="assets/facebook.png">
            </a>
            <a href="#">
              <img style="height: 60px;" src="assets/twitter.png">
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-10 col-lg-10 brand-3">
            <a href="#">
              <img class="img_unesco" style="height: 150px" src="https://www.historiasparaarmar.org/assets/img/unesco.png">
            </a>
          </div>
        </div>
      </div>
  </div>



  <div id="tercero" class="bottom-foot">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 align-center copy">
          <p>Copyright © 2021 Grupo 5</p>
        </div>
      </div>
    </div>
  </div>
</footer>