<footer id="main-footer">
  <div id="primero">
      <div class="container">
        <div class="row brand-footer-group">
          <div style="text-align: left;" class="col-6 col-sm-4 col-md-10 col-lg-10 brand-1">
            <p><b>Soporte Aula Virtual</b>
              <br>aula.virtual@yawaywasi.pe<br><br>
              <b>Soporte correo electrónico</b>
              <br>soporte.yachay@yachaywasi.pe
            </p>
            <a href="#">
              <img style="height: 60px;" src="assets/facebook.png">
            </a>
            <a href="#">
              <img style="height: 60px;" src="assets/twitter.png">
            </a>
          </div>
          <div class="col-6 col-sm-4 col-md-10 col-lg-10 brand-3">
            <a href="#">
              <img class="img_unesco" style="height: 150px; margin-left: 110px;" src="https://www.historiasparaarmar.org/assets/img/unesco.png">
            </a>
          </div>
        </div>
      </div>
  </div>

  <div id="tercero" class="bottom-foot">
    <div class="container">
      <div class="row">
        <div class="col col-sm-12">
          <ul class="menu align-center">
            <li>
              <a href="#">Políticas de Privacidad</a> 
            </li>
            <li>
              <a href="#">Acerca de</a> 
            </li>
            <li>
              <a href="#">Ayuda</a> 
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 align-center copy">
          <p>Copyright © 2021 Grupo 5</p>
        </div>
      </div>
    </div>
  </div>
</footer>