.dropdown{
 /* padding-top: 100px;*/
    padding-right: 5rem;
    text-align: right;
}

button{
    padding-right:70px;
    padding-left: 70px;
}


#cursos{
    background-image: url("https://www.historiasparaarmar.org/bg-family.99b4c0beb762cacf1631.jpg");
}

.contenedor {
    display: grid;
    padding: 5rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

.course-card {
    background-color: #fff;
    color: #000;
    margin: 4px;
    transition: all 0.4s ease-in-out;
    border-radius: 6px;
    cursor: default;
    transition: all 400ms ease;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
    }



.course-card:hover{
    box-shadow: 5px 10px 30px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
}    

a{
    text-decoration: none;
    color: black;
}

/*
.container-fluid{
    text-align: center;
}

*/