<app-perfil></app-perfil>


<div id="cursos" style="width: 3000;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FILTRO
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>

    <main class="contenedor">
        <div class="course-card">
            <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
            <div style="text-align: center; margin-top: -20px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem;"/>
            </div>  
            <div class="card-body">
              <h5 href="#" class="card-title">QUECHUA (sección 1)</h5>
              <span>Horario: 10:00 am - 13:00 pm</span>
            </div>
        </div>
        <div class="course-card">
            <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
            <div style="text-align: center; margin-top: -20px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem;"/>
            </div>  
            <div class="card-body">
              <h5 href="#" class="card-title">QUECHUA (sección 2)</h5>
              <span>Horario: 11:00 pm - 13:00 pm</span>
            </div>
        </div>
        <div class="course-card">
            <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
            <div style="text-align: center; margin-top: -20px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem;"/>
            </div>  
            <div class="card-body">
              <h5 href="#" class="card-title">QUECHUA (sección 3)</h5>
              <span>Horario: 13:00 pm - 15:00 pm</span>
            </div>
        </div>
        <div class="course-card">
            <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
            <div style="text-align: center; margin-top: -20px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem;"/>
            </div>  
            <div class="card-body">
              <h5 href="#" class="card-title">QUECHUA II (sección 2)</h5>
              <span>Horario: 15:00 pm - 17:00 pm</span>
            </div>
        </div>
        <div class="course-card">
            <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
            <div style="text-align: center; margin-top: -20px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem;"/>
            </div>  
            <div class="card-body">
              <h5 href="#" class="card-title">QUECHUA III (sección 1)</h5>
              <span>Horario: 17:00 pm - 19:00 pm</span>
            </div>
        </div>
        <div class="course-card">
            <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
            <div style="text-align: center; margin-top: -20px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 2rem;
                height: 2rem;"/>
            </div>  
            <div class="card-body">
              <h5 href="#" class="card-title">QUECHUA III (sección 2)</h5>
              <span>Horario: 17:00 pm - 19:00 pm</span>
            </div>
        </div>
          
    </main>
</div>







<!--



<div class="container-fluid">
    <div class="container py-5" >
        <div class="row">
            <div class="col-lg-4">
                <div class="course-card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            
        </div>
    </div>
</div>
  -->

<app-footer></app-footer>
