<app-perfil></app-perfil>


<div id="cursos" style="width: 3000;">
    <div class="dropdown">
        <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FILTRO
        </button> -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>

    <main class="contenedor">
        <div class="course-card" *ngFor="let classroom of classrooms" id="redondo" (click)="irClase(classroom)">
          <!--<div style="background-image: url(/assets/background.jpg); height: 120px;"></div>   -->
          <img *ngIf="classroom.course.id === 1" src ="https://images.squarespace-cdn.com/content/v1/5f2ef218103c7a08855bdbf5/1596916910798-QYJIYI0Q11UNGX8QLQ0C/The%2Bpower%2Bto%2BFly%2Bcopy.jpg?format=1000w" style="height: 240px;" class="card-img-top" alt="Card image cap">
          <img *ngIf="classroom.course.id === 2" src ="https://images.squarespace-cdn.com/content/v1/5a04e59e9f07f5503c831361/1617929106949-Q3VTXHITRFT74WGZBMPE/fields_scholasticJ2R2.jpg?format=1000w" style="height: 240px;" class="card-img-top" alt="Card image cap">      
          <img *ngIf="classroom.course.id === 3" src ="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/YT_Doodle_3.max-1100x1100.png" style="height: 240px;" class="card-img-top" alt="Card image cap">

          <!-- <div *ngIf="classroom.course.id === 1" style="text-align: center; margin-top: -30px;">
                <img class="user-picture" src="/assets/profile.png" style="width: 100%; text-align: center; width: 4rem;
                height: 4rem; margin-right: 15px;"/>
                <img class="user-picture" src="/assets/profile_2.png" style="width: 100%; text-align: center; width: 4rem;
                height: 4rem;"/>
            </div> 
          <div *ngIf="classroom.course.id === 2" style="text-align: center; margin-top: -30px;">
              <img class="user-picture" src="/assets/profile_3.png" style="width: 100%; text-align: center; width: 4rem;
              height: 4rem; margin-right: 15px;"/>
              <img class="user-picture" src="/assets/profile_4.png" style="width: 100%; text-align: center; width: 4rem;
              height: 4rem;"/>
          </div> 
          <div *ngIf="classroom.course.id === 3" style="text-align: center; margin-top: -30px;">
            <img class="user-picture" src="/assets/profile_5.png" style="width: 100%; text-align: center; width: 4rem;
            height: 4rem; margin-right: 15px;"/>
            <img class="user-picture" src="/assets/profile_6.png" style="width: 100%; text-align: center; width: 4rem;
            height: 4rem;"/>
        </div>  -->
            <div class="card-body" [ngSwitch]="classroom.dayOfWeek">
              <a href="clase"><h5 class="card-title">{{ classroom.course.name }} ({{ classroom.id }})</h5></a>
              <span *ngSwitchCase="'lun'">Día: Lunes </span>
              <span *ngSwitchCase="'mar'">Día: Martes </span>
              <span *ngSwitchCase="'mie'">Día: Miércoles </span>
              <span *ngSwitchCase="'jue'">Día: Jueves </span>
              <span *ngSwitchCase="'vie'">Día: Viernes </span>
              <br>
              <span> Hora: {{ classroom.horaI }}</span>
              <span> Duración: {{ classroom.durationHours }}</span>
            </div>
        </div>         
    </main>
</div>







<!--



<div class="container-fluid">
    <div class="container py-5" >
        <div class="row">
            <div class="col-lg-4">
                <div class="course-card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/background.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            
            
        </div>
    </div>
</div>
  -->

<app-footer></app-footer>
