<app-perfil></app-perfil>

<section id="vantage" class="description main-section">
    <div class="container">
        <header>
        <br><br><br>
        <h2>Mantenimiento de Cursos</h2>
        <p class="sub-header">Aquí se puede listar, registrar, editar y eliminar cursos.</p>
        </header>
        <br><br>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="agregarModal()">Agregar</button>
          <mat-button-toggle-group style="float: right;" #group="matButtonToggleGroup" [(ngModel)]="selectedButton" (change)="onValChange(group.value)" >
            <mat-button-toggle [value]="true">Activos</mat-button-toggle>
            <mat-button-toggle [value]="false">Inactivos</mat-button-toggle>
          </mat-button-toggle-group>
        </div>         
        <br>
        <h1 *ngIf=isLoading>Cargando...</h1>   
        <table *ngIf="!isLoading" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                  <th *ngFor = "let column of headers">
                    {{ column }}
                  </th>
                  <th>
                    <div *ngIf="selectedButton===true; then deactivate else activate">
                    </div>        
                    <ng-template #deactivate>Desactivar</ng-template>        
                    <ng-template #activate>Activar</ng-template>
                  </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let course of courses">
                        <td>{{ course.name }}</td>
                        <td>{{ course.description }}</td>
                        <td><fa-icon [icon]="faPen" (click)="editarModal(course)"></fa-icon></td>
                        <div *ngIf="selectedButton === true; then eliminar else restaurar">
                        </div>        
                        <ng-template #eliminar>
                          <td><fa-icon [icon]="faTimes" (click)="deleteCourse(course)"></fa-icon></td>
                        </ng-template>        
                        <ng-template #restaurar>
                          <td><fa-icon [icon]="faTrashRestore" (click)="restore(course)"></fa-icon></td>
                        </ng-template>                             
                    </tr>
                </tbody>
        </table>     
        <br><br><br>
    </div>
</section>



  <!-- Modal -->
  <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
          
        <div *ngIf="modal === allModalTypes.edit; then editar else agregar">
        </div>        
        <ng-template #editar>
          <h5 class="modal-title">Editar Curso</h5>
        </ng-template>        
        <ng-template #agregar>
          <h5 class="modal-title">Agregar nuevo curso</h5>
        </ng-template>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
          <br>          
        </div>
        <p *ngIf="isError" class="text-danger" style="text-align: center;"><strong>Error: Ingreso Inválido.</strong></p>
        <form ngNativeValidate (ngSubmit)=submit()>
          <div class="modal-body">          
            <h3>Curso</h3>
            <div class="form-group">
              <span>Nombre</span>
              <input type="text" class="form-control" placeholder="Nombre" name="name"
                  [(ngModel)]="newCourse.name"
                  required>
            </div>
            <div class="form-group">
              <span>Descripción</span>
              <input type="text" class="form-control" placeholder="Descripción" name="description"             
                  [(ngModel)]="newCourse.description"
                  required>
            </div>            
        </div>
          <div class="modal-footer">
            <div *ngIf="modal === allModalTypes.edit; then editCourse else createCourse">
            </div>        
            <ng-template #editCourse>
              <button type="submit" class="btn btn-primary" >Editar</button>
            </ng-template>        
            <ng-template #createCourse>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </ng-template>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Cerrar</button>            
          </div>
      </form>
      </div>
    </div>
  </div>


  <app-footer></app-footer>